body {
  margin: 0;
  background-color: #212121;
  text-decoration-color: #B3B3B3;
  overflow-x: hidden;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, p, span, td, th, label {
  color: #fff;
}

.enterprise {
  font-family: 'Modak', cursive;
  color: #fff;
  font-size: 60px;
}

