@media screen and (min-width: 750px){
  .page-right,
  .page-left {
    width: 40%;
  }
  
  .page-right {
    float: right;
    margin-top: 100px;
  }
  
  .content-box {
    text-align: center;
    width: 100%;
  }
}


.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}


.content-box {
  text-align: center;
}

.page-right {
  margin-bottom: 80px;
}
